In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('IMDB_Movies.csv')
print(df.shape)
df

(5043, 28)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [3]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
df.drop(['color','num_critic_for_reviews','director_facebook_likes','actor_3_facebook_likes','actor_1_facebook_likes','cast_total_facebook_likes','facenumber_in_poster','plot_keywords','movie_imdb_link','content_rating','actor_2_facebook_likes','num_user_for_reviews','aspect_ratio','actor_2_name','actor_3_name'], axis = 1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         4939 non-null   object
 1   duration              5028 non-null   float64
 2   gross                 4159 non-null   float64
 3   genres                5043 non-null   object
 4   actor_1_name          5036 non-null   object
 5   movie_title           5043 non-null   object
 6   num_voted_users       5043 non-null   int64
 7   language              5031 non-null   object
 8   country               5038 non-null   object
 9   budget                4551 non-null   float64
 10  title_year            4935 non-null   float64
 11  imdb_score            5043 non-null   float64
 12  movie_facebook_likes  5043 non-null   int64
dtypes: float64(5), int64(2), object(6)
memory usage: 512.3+ KB

In [6]:
df.isna().sum()

director_name           104
duration                 15
gross                   884
genres                    0
actor_1_name              7
movie_title               0
num_voted_users           0
language                 12
country                   5
budget                  492
title_year              108
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [7]:
director_name = df[(df['director_name'].isna() == True)]
df.drop(director_name.index, inplace = True)

In [8]:

for i in df[(df['language'].isna() == True)]['director_name']:
    if len(df[df['director_name'] == i]['language'].value_counts()) != 0:
        language = df[(df['director_name'] == i)]['language'].value_counts().index[0]
        df.loc[(df['language'].isna() == True)&(df['director_name'] == i),'language'] = language
    else:
        print('empty')

empty
empty
empty
empty
empty
empty

In [9]:
df.loc[df['language'].isna() == True,'language'] = 'English'

In [10]:
null = df.loc[(df['duration'].isna() == True)&(df['gross'].isna() == True)&(df['budget'].isna() == True)]
print(null.shape)
df.drop(null.index, inplace = True)

(7, 13)

In [11]:
for i,j in zip(df[(df['duration'].isna() == True)]['country'],df[(df['duration'].isna() == True)]['language']):
    if i != 'Pakistan':
        mean = df[(df['country']==i)&(df['language']==j)]['duration'].mean()
        df.loc[(df['duration'].isna() == True)&(df['country']==i)&(df['language']==j),'duration'] = mean
    else:
        mean = df['duration'].mean()
        df.loc[(df['duration'].isna() == True)&(df['country']==i)&(df['language']==j),'duration'] = mean

In [12]:
num = 0
for a,b in zip(df[(df['gross'].isna() == True)]['country'],df[(df['gross'].isna() == True)]['language']):
    if len(df.loc[(df['country']==a)&(df['language']==b)]['gross'].value_counts()) != 0:
        mean = df.loc[(df['country']==a)&(df['language']==b)]['gross'].mean()
        df.loc[(df['gross'].isna() == True)&(df['country']==a)&(df['language']==b),'gross'] = mean
    else:
        print('empty')
    num+=1
print(num)

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
776

In [13]:
mean = df['gross'].mean()
df.loc[(df['gross'].isna() == True),'gross'] = mean

In [14]:
num = 0
for a,b,c in zip(df[(df['budget'].isna() == True)]['country'],df[(df['budget'].isna() == True)]['language'],df[(df['budget'].isna() == True)]['director_name']):
    if len(df.loc[(df['country']==a)&(df['language']==b)&(df['director_name']==c)]['budget'].value_counts()) != 0:
        mean = df.loc[(df['country']==a)&(df['language']==b)&(df['director_name']==c)]['budget'].mean()
        df.loc[(df['budget'].isna() == True)&(df['country']==a)&(df['language']==b)&(df['director_name']==c),'budget'] = mean
    else:
        print('empty')
    num+=1
print(num)

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
389

In [15]:
num = 0
for a,b in zip(df[(df['budget'].isna() == True)]['country'],df[(df['budget'].isna() == True)]['language']):
    if len(df.loc[(df['country']==a)&(df['language']==b)]['budget'].value_counts()) != 0:
        mean = df.loc[(df['country']==a)&(df['language']==b)]['budget'].mean()
        df.loc[(df['budget'].isna() == True)&(df['country']==a)&(df['language']==b),'budget'] = mean
    else:
        print('empty')
    num+=1
print(num)

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
259

In [16]:
mean = df['budget'].mean()
df.loc[(df['budget'].isna() == True),'budget'] = mean

In [17]:
df.loc[(df['country'].isna() == True)]

,director_name,duration,gross,genres,actor_1_name,movie_title,num_voted_users,language,country,budget,title_year,imdb_score,movie_facebook_likes
279,Christopher Barnard,22.0,4.784923e+07,Comedy,Mathew Buck,"10,000 B.C.",6,English,NaN,4.038845e+07,NaN,7.2,0
4021,Daniel Petrie Jr.,88.0,4.784923e+07,Drama|Thriller,Chris Brochu,Dawn Patrol,455,English,NaN,3.500000e+06,2014.0,4.8,570

In [18]:
df.loc[(df['country'].isna() == True),'country'] = 'USA'

In [19]:
null = df.loc[df['actor_1_name'].isna()==True]
df.drop(null.index, inplace = True)

In [20]:
df['title_year'] = df['title_year'].fillna(df['title_year'].median())

In [21]:
df.isna().sum()

director_name           0
duration                0
gross                   0
genres                  0
actor_1_name            0
movie_title             0
num_voted_users         0
language                0
country                 0
budget                  0
title_year              0
imdb_score              0
movie_facebook_likes    0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4925 entries, 0 to 5042
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         4925 non-null   object
 1   duration              4925 non-null   float64
 2   gross                 4925 non-null   float64
 3   genres                4925 non-null   object
 4   actor_1_name          4925 non-null   object
 5   movie_title           4925 non-null   object
 6   num_voted_users       4925 non-null   int64
 7   language              4925 non-null   object
 8   country               4925 non-null   object
 9   budget                4925 non-null   float64
 10  title_year            4925 non-null   float64
 11  imdb_score            4925 non-null   float64
 12  movie_facebook_likes  4925 non-null   int64
dtypes: float64(5), int64(2), object(6)
memory usage: 538.7+ KB

In [23]:
df['title_year'] = df['title_year'].astype('int')

In [24]:
df['genres'] = df['genres'].str.split('|')

In [25]:
df = df.explode('genres')
print(df.shape)
df.head()

(14168, 13)

,director_name,duration,gross,genres,actor_1_name,movie_title,num_voted_users,language,country,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action,CCH Pounder,Avatar,886204,English,USA,237000000.0,2009,7.9,33000
0,James Cameron,178.0,760505847.0,Adventure,CCH Pounder,Avatar,886204,English,USA,237000000.0,2009,7.9,33000
0,James Cameron,178.0,760505847.0,Fantasy,CCH Pounder,Avatar,886204,English,USA,237000000.0,2009,7.9,33000
0,James Cameron,178.0,760505847.0,Sci-Fi,CCH Pounder,Avatar,886204,English,USA,237000000.0,2009,7.9,33000
1,Gore Verbinski,169.0,309404152.0,Action,Johnny Depp,Pirates of the Caribbean: At World's End,471220,English,USA,300000000.0,2007,7.1,0

In [26]:
df.isna().sum()

director_name           0
duration                0
gross                   0
genres                  0
actor_1_name            0
movie_title             0
num_voted_users         0
language                0
country                 0
budget                  0
title_year              0
imdb_score              0
movie_facebook_likes    0
dtype: int64

In [27]:
df.to_csv('IMBD_Data.csv', index = False)